.title {
  text-align: center;
  margin: 4rem auto;
}

.contact_container {
  text-align: center;
}

.contact_text_main {
  display: block;
  margin-bottom: 0.75rem;
}

.contact_text_sub {
  display: block;
  margin-bottom: 4rem;
}

.contact_form {
  width: 50rem;
  margin: 0 auto;
  overflow: hidden;
}

.form_item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.form_label {
  width: 40%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  box-sizing: border-box;
}

.form_input,
.form_box {
  width: 60%;
}

.form_input,
.form_box {
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 0.5rem;
}

.form_box {
  height: 15rem;
  resize: none;
  overflow-y: auto;
  font-family: inherit;
}

.is_pointer {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 3rem;
  padding-right: 1.5rem;
}

.is_align_top {
  align-items: flex-start;
}

.is_align_top .form_label {
  padding-top: 0.5rem;
}

.badge_required {
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.btn {
  display: block;
  margin: 4rem auto;
  padding: 1rem 6rem;
  border-radius: 3rem;
  border: none;
  background-color: #79bddd;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:960px) {

  .contact_container {
    text-align: left;
    margin: 0 2rem;
    margin-bottom: 4rem;
    line-height: 1.8;
  }
  
  .contact_text_main,
  .contact_text_sub {
    display: inline;
  }

  .contact_form {
    width: 90%;
  }

  .form_item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .form_label {
    width: 100%;
    padding-right: 0;
    justify-content: flex-start;
    gap: 1rem;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .form_input,
  .form_box {
    width: 100%;
  }

  .form_box {
    height: 20rem;
  }

  .badge_required {
    padding: 0.2rem 0.6rem;
  }
}